<div class="card">
    <nb-card >  
        <nb-card-body class="card-body">
            <img [src]="movie.Poster" class="card-img-top" [alt]="movie.Title">

            <nb-icon
                (click) = "bookmarkMovie(movie)"
                class="bookmark_icon"
                nbPrefix
                icon="bookmark"
                pack="eva"
                [ngClass]="{active : movie.active}"
              ></nb-icon>

            <h5 class="card-title">
                {{ movie.Title }}
                <span class="badge badge-primary">{{ movie.Type }}</span>
            </h5>
            <p class="card-text">
                {{ movie.Title }} is a {{ movie.Type }} that was released in {{ movie.Year }}
            </p>
        </nb-card-body>
    </nb-card>
</div>