<div class="nb-theme-default">

  <nb-layout>

    <nb-layout-header class="header">
      <div class="header-wrapper">
        <div class="title-container">
          <h1>Search your movies here!</h1>
        </div>
        <div class="btn-container">
          <a class='btn' href="/">Search</a>
          <a class='btn' href="bookmarks">Bookmarks</a>
        </div>
      </div>
    </nb-layout-header>


    <nb-layout-column style="padding: 0!important;" class="body-container">
      <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer class="footer" style="padding: 0 !important;">
      <p>Ajay Singh | 2021 | <a href="https://github.com/The-Vector-007/Movie-Search-and-Bookmark">GitHub</a></p>
    </nb-layout-footer>

  </nb-layout>

</div>